<h1>Signup</h1>

<form accept-charset="UTF-8" action="/signup/index" method="get">
  <input name="utf8" type="hidden" value="&#x2713;" />
  <label for="username">Username:</label>
  <input id="username" name="username" type="text" /><br/>
  <label for="password">Password:</label>
  <input id="password" name="password" type="text" /><br/>
  <label for="confirmpwd">Confirm:</label>
  <input id="confirmpwd" name="confirmpwd" type="text" /><br/>
  <input name="commit" type="submit" value="Save" />
</form>